.bicicletas-bg:nth-child(3) {
  background: linear-gradient(to right, var(--cor-0)30%, var(--cor-11)0%);
}

.bicicletas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 60px 0;
}

.bicicletas-img {
  position: relative;
}

.bicicletas-img span {
  display: inline-block;
  background: var(--cor-12);
  padding: 8px 16px 8px 8px;
  position: absolute;
  top: 15px;
  right: 0;
  border-radius: 4px 0 0 4px;
}

.bicicletas-conteudo {
  display: grid;
  align-content: start;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.bicicletas-conteudo h2,
.bicicletas-conteudo p {
  grid-column: 1/-1;
}

.bicicletas-conteudo h2::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
  margin-bottom: 8px;
}

.bicicletas p {
  margin-bottom: 32px;
}

.bicicletas a {
  place-self: end;
}

.bicicletas li {
  display: flex;
  align-items: center;
}

.bicicletas-conteudo img {
  width: 24px;
  margin-right: 8px;
}

.bicicletas li + li {
  margin-top: 16px;
}


@media (max-width: 800px) {

  .bicicletas-bg:nth-child(3) {
    background: var(--cor-11);
  }

  .bicicletas{
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 40px 0;
  }
}

@media (max-width: 600px) {
  .bicicletas-conteudo {
    grid-template-columns: 1fr;
  }
  .bicicletas ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1rem;
    margin-bottom: 32px;
  }

  .bicicletas a {
    place-self: start;

  }
}